body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  margin: 1em;
}

body {

}
h1, h2, p, ul, li {
  font-family: sans-serif;
  font-size: 1em;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #ffffff;
  padding: 0;
}
ul.header li a {
  color: #000000;
  /*font-weight: bold;*/
  /*text-decoration: none;*/
  padding: 2px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 2px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.content a {
  font-family: sans-serif;
  font-size: 1em;
}
/* Specific styles for non-active links */
.link {
  color: white;
  text-decoration: none;
}

/* Specific styles for active links */
.link-active {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  background: #ffffff;
}
